@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
  padding: 10px;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    background: rgb(21, 21, 21);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(40, 40, 40);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(65, 64, 64);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 78, 78);
  }
}

#yes{
  width: 900px;
}

@media screen and (max-width: 980px) {
  #yes{
    width: 300px;
  }
}